<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<!-- Дом -->
	<connectionStrings>
		<add name="TradeEntities" connectionString="metadata=res://*/Model.FlowersDataBase.csdl|res://*/Model.FlowersDataBase.ssdl|res://*/Model.FlowersDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-AU15DC91706;initial catalog=TradeEP09;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<!-- Дом -->

	<!-- Колледж 
	<connectionStrings>
	  <add name="TradeEntities" connectionString="metadata=res://*/Model.FlowersDataBase.csdl|res://*/Model.FlowersDataBase.ssdl|res://*/Model.FlowersDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.137.4;initial catalog=TradeEP09;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	 Колледж -->

</configuration>